<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src={% static 'datatables/js/jquery.dataTables.min.js' %}></script>
<link href="http://www.datatables.club/assets/bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">

<body>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Position</th>
        <th>Office</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Position</th>
        <th>Office</th>
    </tr>
    </tfoot>
    <tbody>
    <tr>
        <td>Tiger Nixon</td>
        <td><input type="text" id="key" name="key" value="61"/></td>
        <td><input type="text" id="key" name="key1" value="System Architect"/></td>
        <td><select size="1" id="row-2-office" name="row-2-office">
            <option value="Edinburgh" selected="selected"> Edinburgh</option>
            <option value="London"> London</option>
            <option value="New York"> New York</option>
            <option value="San Francisco"> San Francisco</option>
            <option value="Tokyo"> Tokyo</option>
        </select></td>
{#        <td></td>#}
    </tr>
    <tr>
        <td>Garrett Winters</td>
        <td><input type="text" id="key" name="key" value="63"/></td>
        <td><input type="text" id="key1" name="key1" value="Accountant"/></td>
        <td><select size="1" id="row-2-office" name="row-2-office">
            <option value="Edinburgh"> Edinburgh</option>
            <option value="London"> London</option>
            <option value="New York"> New York</option>
            <option value="San Francisco"> San Francisco</option>
            <option value="Tokyo" selected="selected"> Tokyo</option>
        </select></td>
{#        <td></td>#}

    </tr>
    <tr>
        <td>Garrett Winters</td>
        <td><input type="text" id="key" name="key" value="63"/></td>
        <td><input type="text" id="key1" name="key1" value="Accountant"/></td>
        <td><select size="1" id="row-2-office" name="row-2-office">
            <option value="Edinburgh"> Edinburgh</option>
            <option value="London"> London</option>
            <option value="New York"> New York</option>
            <option value="San Francisco"> San Francisco</option>
            <option value="Tokyo" selected="selected"> Tokyo</option>
        </select></td>
{#        <td></td>#}

    </tr>
    <tr>
        <td>Garrett Winters</td>
        <td><input type="text" id="key" name="key" value="63"/></td>
        <td><input type="text" id="key1" name="key1" value="Accountant"/></td>
        <td><select size="1" id="row-2-office" name="row-2-office">
            <option value="Edinburgh"> Edinburgh</option>
            <option value="London"> London</option>
            <option value="New York"> New York</option>
            <option value="San Francisco"> San Francisco</option>
            <option value="Tokyo" selected="selected"> Tokyo</option>
        </select></td>
{#        <td></td>#}

    </tr>
    </tbody>
</table>
<button type="submit">提交表单</button>
</body>

<script>
   $(document).ready(function() {
    var table = $('#example').DataTable();
    $('button').click(function() {
        var data = table.$('input, select').serialize();
        var v=[]
        v=data
{#        alert("The following data would have been submitted to the server: \n\n" + data.substr(0, 120) + '...');#}
            $.ajax({
                url:"Check",
                type: "POST",
                dataType: "json",
                data: v,
                success: function (code) {
                    alert(code.code);
                },
                error:function () {
                    alert("服务器异常，修改失败")
                }
                }
            )
        console.log(data)
        return false;
    });
});
</script>
</html>